<% include partials/header.ejs %>

<div class="container mb-2">
    <div class="row">
        <div class="col">
            <form method="post" action="/loc">
                <h3>Location Service Form</h3>
                City:<br>
                <input type="text" name="City"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <% if(latLng) { %>
            <div class="col">
                <div id="map" class="map">
                </div>
            </div>
        <% } %>
    </div>


</div>

<% include partials/footer.ejs %>
